# MongoDB connection used by the application
# For docker-compose, MONGO_HOST should usually be 'mongo'
MONGO_HOST=mongo
MONGO_PORT=27017
MONGO_HOST_PORT=27018
MONGO_DATABASE=github_repository_ms
MONGO_USERNAME=root
MONGO_PASSWORD=some-pass
MONGO_AUTH_DATABASE=admin

# MongoDB root credentials for the container
MONGO_ROOT_USERNAME=root
MONGO_ROOT_PASSWORD=some-pass

# Application server
SERVER_PORT=8090

# Git server settings
GIT_SERVER_HTTP_URL=http://192.168.100.150:9080
GIT_SERVER_SSH_HOST=192.168.100.150
GIT_SERVER_SSH_PORT=2222

# Microservice auth token
MICROSERVICE_AUTH_TOKEN=some-secret-token
